In [1]:
import pandas as pd

df = pd.read_excel('service_list.xlsx')

In [2]:
df.columns

Index(['category', 'subcategory', 'name', 'price', 'note', 'vat_name',
       'vat_proportion', 'non_vat_name'],
      dtype='object')

In [3]:
df

,category,subcategory,name,price,note,vat_name,vat_proportion,non_vat_name
0,Coaching,Strategy Meeting,Strategy Meeting 4 Meetings,26000.0,NaN,Coaching: Strategy Meeting,1.0,NaN
1,Coaching,Project Development,Project Development 10 Meetings,55000.0,NaN,Coaching: Project Development,1.0,NaN
2,Coaching,Project Development,Project Development 10 Meetings (Group),NaN,ราคาขึ้นอยู่กับจำนวนนักเรียน,Coaching: Project Development,1.0,NaN
3,Coaching,Skill Development,Skill Development 15 Hours [Business and Digit...,42000.0,NaN,NaN,0.0,Coaching: Skill Development
4,Coaching,Skill Development,Skill Development 15 Hours [Computer Science],42000.0,NaN,NaN,0.0,Coaching: Skill Development
...,...,...,...,...,...,...,...,...
75,Private,NaN,English Writing,2500.0,NaN,NaN,0.0,Private Class
76,Discount,NaN,Special Discount,NaN,NaN,NaN,NaN,NaN
77,Discount,NaN,5% Special Discount,NaN,NaN,NaN,NaN,NaN
78,Discount,NaN,10% Special Discount,NaN,NaN,NaN,NaN,NaN
79,Discount,NaN,15% Special Discount,NaN,NaN,NaN,NaN,NaN

In [15]:
df.to_excel('data_service_2.xlsx')